body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Noto Sans Symbols', sans-serif;
}



#container{
    display: flex;
    height: 100vh;
}


#box1-image-son{
    width: 50%;
    height: 50%;
    border-right: 1px solid red;
}


#box2-lecteur{
    width: 50%;
    height: 50%;
}

.menu{
    display: flex;
    list-style: none;
    align-items: flex-start;
    justify-content: space-around;
    
}
.menu li, a{
 text-decoration: none;
}