.lecteur nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.lecteur nav ul{
    display: flex;
    gap: 10px;
}

.lecteur nav ul li{
   list-style: none;
   text-decoration: none;
}

.lecteur nav ul li a{
    text-decoration: none;
}